<h1>My account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <% if current_user.employer? %>
      <b>Employer account</b>
    <% else %>
      <b>Applicant account</b>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently awaiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br>

  <b>Change password</b> 

  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>

  <br><br>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <br>

  <b>Confirm your current password to make changes to this form</b>

  <br><br>
  
  <div class="field">
    <%= f.label :current_password %> 
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Update my account" %>
  </div>
<% end %>

<br><br>

<% if not current_user.admin? %>
  <h3>Delete my account</h3>
  <p>Time to go? We understand -- things change. You're welcome back any time. <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>
