<%= form_for(@job) do |f| %>

  <div class="field">
    <%= f.label :title, "Job title" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :company, "Company" %>
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :location, "Location" %>
    <%= f.text_field :location %>
  </div>

  <%= f.hidden_field :company_id, :value => current_user.id unless @job.company_id %>

  <br>
  
  <%= f.submit %>
  <p class="required">All fields are required</p>
<% end %>
